.section-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  overflow-y: scroll;
  height: calc(100vh - 72px);
}

.note-container {
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}
